/*Main Budget Styles*/
#budget {
	font-size:700%;
	color: purple;
	text-align: center;
}

#titleText {
	transition: all 0.5s ease;
}

/*Options Styles*/
p.small {
	line-height: 0px;
}

.center {
	text-align: center;
}

.inputBox:disabled { 
    color: lightgrey;
}

.ui-focus {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}