/*Main Budget Styles*/
#budget {
	font-size: 1000%;
	color: purple;
	text-align: center;
	margin: 0;
	overflow: auto;
}

#titleText {
	transition: all 0.5s ease;
}

/*Options Styles*/
p.small {
	line-height: 0px;
}

.center {
	text-align: center;
}

.inputBox:disabled { 
    color: lightgrey;
}

.ui-focus {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}


.red {
	color : red;
}

#curtain {
	position : absolute;
	left : 0px;
	top : 0px;
	width : 100%;
	height : 9000px;
	z-index : 10000;
	background-color : white;
}

#curtainText {
	font-size : 500%;
	color : purple;
	text-align : center;
}

#debugToggle {
	position : absolute;
	right : 0px;
	top : 0px;
	width : 70px;
	height : 70px;
}

#logout {
	width: 58%;
	float: left;
}

.nd2-sidepanel-profile {
	background-color: #8BC34A;
	padding: 10px;
}